<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/register">
        <div>
            <label>correo</label>
            <input type="email" name="correo" placeholder="name@domain.com">
        </div>
        <div>
            <label>nombre</label>
            <input type="text" name="nombre" placeholder="ejemplo: karen">
        </div>
        <div>
            <label>edad</label>
            <input type="number" name="edad" placeholder="mayor a 18">
        </div>
        <div>
            <input type="submit" send="guardar">
        </div>
    </form>
</body>
</html>